@model Identhorize.Web.Playground.App.AppController
@using System.Text.Encodings.Web;
@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html>
<head>
	<title>@Model.Context.Title</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	@*Make sure javascript is turned on and browser support modules*@
	<noscript><meta http-equiv="refresh" content="0; URL=/noscript.html?redirect=@System.Web.HttpUtility.UrlEncode(Model.Context.HttpContext.Request.GetEncodedPathAndQuery())" /></noscript>
	<script nomodule src="/nomdule.js"></script>

	<link rel="icon" href="~/favicon.png">
	<style>
		@@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			font-display: block;
			src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff');
		}
	</style>
	<script type="module" src="/formula/formula.js"></script>
	<script defer src="/formula/modernizr.js"></script>

</head>
<body style="margin:0">
	@{await Html.RenderPartialAsync("/App/AppPreloader.cshtml");}
	
	<ff-app>
		<ff-folder>
		</ff-folder>
	</ff-app>
	<div id="ff-webobject-styles"></div>

	<script>
		window.onerror = function (errorMsg, file, lineNumber, column, error)
		{
			console.error({
				errorMsg: errorMsg,
				file: file,
				lineNumber: lineNumber,
				column: column,
				error: error
			});
		};
		window.onunhandledrejection = function (error)
		{
			console.error(error);
			var $exception = document.querySelector("#ff-exception");
			$exception.style.display = "block";
		};

		//Detects if browser have async/await support
		if (window.Promise == null)
			window.location.href = "/outdated-browser.html";
		new Promise(function (resolve, reject)
		{
			var script = document.createElement('script');
			document.body.appendChild(script);
			script.onload = resolve.bind(null, true);
			script.onerror = reject;
			script.async = true;
			script.src = '/browser-support-detection.js';
		})
			.then(function ()
			{
				if (window["isAsyncAwaitSupported"] == null ||
					window["isDynamicImportSupported"] == null)
					window.location.href = "/outdated-browser.html";
			})
			.catch(function ()
			{
				throw "/browser-support-detection.js failed to load"
			});

	</script>
	<div id="ff-exception">
		<h1>Application error</h1>
		<p>Open Developer Tools by click f12 for more info</p>
	</div>

	<link rel="stylesheet" async href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</body>
</html>